{% extends 'layouts/_default.twig' %}

{% block main_content %}
	<ul>
		{% for quiz in quizzes %}
			<li>
				<strong>{{ 'Name: ' }}</strong>
				{{ quiz.name }}
				<strong>{{ 'Weight: ' }}</strong>
				{{ quiz.weight }}{{ '%' }}
				-
				<a href="/quizzes/{{ quiz.id }}/edit">Edit Quiz</a>
				|
				<a href="/quizzes/{{ quiz.id }}/delete">Delete Quiz</a>
			</li>
		{% endfor %}
	</ul>
	<p>
		<a href="/quizzes/new">Create New Quiz</a>
	</p>
	<p>
		<a href="/">Home</a>
	</p>
{% endblock %}
