{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <div>
        <h1>{{ quiz.name }}</h1>
        <p><strong>ID: </strong>{{ quiz.id }}</p>
        <p><strong>Grade Weight: </strong>{{ quiz.weight }}%</p>
        <p><strong>Created At: </strong>{{ quiz.createdAt }}</p>
        <p><strong>Upadated Last: </strong>{{ quiz.updatedAt }}</p>

        <p><a href="/quizzes/{{ quiz.id }}/delete">Delete Quiz</a></p>
    

    </div>

{% endblock %}