{% extends 'layouts/_default.twig' %}

{% block main_content %}
    <div>
        <h1>{{ choice.name }}</h1>
        <p><strong>ID: </strong>{{ choice.id }}</p>
        <p><strong>Created At: </strong>{{ choice.createdAt }}</p>
        <p><strong>Upadated Last: </strong>{{ choice.updatedAt }}</p>

        <p><a href="/choices/{{ choice.id }}/delete">Delete Choice</a></p>
        <p><a href="/choices/">Back to Choices</a></p>
    

    </div>

{% endblock %}